<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
		<title></title>
		<!--研究领域文章详情页面-->
		<!--<link href="dist/bootstrap/css/bootstrap.css" rel="stylesheet">-->
		<link href="css/research-trends.css" rel="stylesheet" />
	</head>

	<body>
		<div id="vm" class="info" style="margin-bottom: 100px;">
			<div id="" class="suspension_column_01 hidden-lg hidden-md hidden-sm" v-if="pageName == '研究动态'">
				<div id="" onclick="TogglePages('html/industry-research.html',false,'产业研究')">
					产业研究
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'政策研究')">
					政策研究
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'人工智能安全')">
					人工智能安全
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'数据安全')">
					数据安全
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'物联网与工程安全')">
					物联网与工程安全
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'金融科技')">
					金融科技
				</div>
			</div>

			<div id="" class="suspension_column_01 hidden-lg hidden-md hidden-sm" v-if="pageName == '赛博观点'">
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'企业资讯')">
					企业资讯
				</div>
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'投资动态')">
					投资动态
				</div>
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'学术文章')">
					学术文章
				</div>
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'专家交流')">
					专家交流
				</div>
			</div>

			<div id="" class="suspension_column_01 hidden-lg hidden-md hidden-sm" v-if="pageName == '研究报告'">
				<div id="" onclick="TogglePages('html/research-report-type.html',false,'国内报告')">
					国内报告
				</div>
				<div id="" onclick="TogglePages('html/research-report-type.html',false,'国外报告')">
					国外报告
				</div>
				<div id="" onclick="TogglePages('html/research-report-type.html',false,'赛博原创')">
					赛博原创
				</div>
			</div>

			<div id="" class="suspension_column_01 hidden-lg hidden-md hidden-sm" v-if="pageName == '新闻动态'">
				<div id="" onclick="TogglePages('html/news-information-type.html',false,'赛博动态')">
					赛博动态
				</div>
				<div id="" onclick="TogglePages('html/news-information-type.html',false,'新闻报道')">
					新闻报道
				</div>
				<div id="" onclick="TogglePages('html/news-information-type.html',false,'主要会议')">
					主要会议
				</div>
			</div>

			<div class="container main_div">
				<div style="position: relative;width: 100%;">
					<div class="title_01">
						{{pageName}}
					</div>
					<img src="img/detail_pc/banner_xiangqing.png" class="img_01" />
				</div>

				<div id="" class="navigation_01" style="line-height: 40px;">
					当前位置：
					<span id="" class="title_07" onclick="shouye()">
                                            首页
                    </span> &nbsp;>&nbsp;
					<span id="" class="title_07" onclick="back1()">
                       {{pageName}}
                    </span> &nbsp;>&nbsp;
					<span class="navigation_02">
                                             【产业研究】NSA透露网络防御新思路
                    </span>
				</div>
				<hr id="hr_01" />

				<div id="" class="main_text">
					<div id="title_01">
						【产业研究】NSA透露网络防御新思路(2018版)
					</div>
					<div id="author_date">
						2019-02-22&nbsp;&nbsp;作者：
						<span id="authorName">
              李四
            </span>
					</div>
					<div id="key_word">
						关键词：
						<span id="key_word_01">
              NSA&nbsp;新思路
            </span>
					</div>

					<div id="content_01">
						第一个5G正式标准马上就要发布了，相信大家一定都在翘首企盼。 之前我曾经和大家介绍过，去年12月份的时候，我们其实已经发布了“半个”5G标准。是的没错，那个时候是“非独立组网(NSA)”的5G标准。 而我们现在正在等的，是“独立组网(SA)”的5G标准。 关于非独立组网和独立组网，NSA和SA，虽然大家都听了很多次，但很少有人能真正搞懂它们到底是怎么一回事。
						<img id="img_content_01" src="img/detail_pc/picture1.png" /> 第一个5G正式标准马上就要发布了，相信大家一定都在翘首企盼。 之前我曾经和大家介绍过，去年12月份的时候，我们其实已经发布了“半个”5G标准。是的没错，那个时候是“非独立组网(NSA)”的5G标准。 而我们现在正在等的，是“独立组网(SA)”的5G标准。 关于非独立组网和独立组网，NSA和SA，虽然大家都听了很多次，但很少有人能真正搞懂它们到底是怎么一回事。
					</div>

					<div id="browse_volume"><img src="img/shouye_pc/liulan.png" />&nbsp;12</div>

					<div id="shared_img_list">
						<img src="img/detail_pc/qq.png" />
						<img src="img/detail_pc/weixin.png" />
						<img src="img/detail_pc/weibo.png" />
						<img src="img/detail_pc/qqkongjian.png" />
					</div>

					<div id="upper_and_lower_chapters">
						<div id="">
							上一篇：报名啦
						</div>
						<div id="">
							下一篇：放学啦
						</div>
					</div>
				</div>
			</div>

			<div id="" class="suspension_column hidden-xs" v-if="pageName == '研究动态'">
				<div id="" onclick="TogglePages('html/industry-research.html',false,'产业研究')">
					产业研究
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'政策研究')">
					政策研究
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'人工智能安全')">
					人工智能安全
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'数据安全')">
					数据安全
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'物联网与工程安全')">
					物联网与工程安全
				</div>
				<div id="" onclick="TogglePages('html/industry-research.html',false,'金融科技')">
					金融科技
				</div>
			</div>

			<div id="" class="suspension_column hidden-xs" v-if="pageName == '赛博观点'">
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'企业资讯')">
					企业资讯
				</div>
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'投资动态')">
					投资动态
				</div>
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'学术文章')">
					学术文章
				</div>
				<div id="" onclick="TogglePages('html/saibo-viewpoint-Type.html',false,'专家交流')">
					专家交流
				</div>

			</div>

			<div id="" class="suspension_column hidden-xs" v-if="pageName == '研究报告'">
				<div id="" onclick="TogglePages('html/research-report-type.html',false,'国内报告')">
					国内报告
				</div>
				<div id="" onclick="TogglePages('html/research-report-type.html',false,'国外报告')">
					国外报告
				</div>
				<div id="" onclick="TogglePages('html/research-report-type.html',false,'赛博原创')">
					赛博原创
				</div>
			</div>

			<div id="" class="suspension_column hidden-xs" v-if="pageName == '新闻动态'">
				<div id="" onclick="TogglePages('html/news-information-type.html',false,'赛博动态')">
					赛博动态
				</div>
				<div id="" onclick="TogglePages('html/news-information-type.html',false,'新闻报道')">
					新闻报道
				</div>
				<div id="" onclick="TogglePages('html/news-information-type.html',false,'主要会议')">
					主要会议
				</div>
			</div>

		</div>
	</body>
	<!--<script src="js/common/jquery.min.js"></script>-->

	<script type="text/javascript" src="js/common/service.js"></script>
	<script>
		//		var pageName = localStorage.getItem('pageName')
		//		

		//		console.log(pageName)

		/**
		 * 实例化vue对象
		 */
		var vm = new Vue({
			el: '#vm',
			data: {
				mess: '',
				pageName: '',
				oldPageName: ''
			},
			methods: {

			},
			mounted: this.retrieve
		});

		console.log(123)

		function back1() {
			localStorage.setItem('nowPage', vm.oldPageName)
			$("#content").load(vm.oldPageName);
		}

		$(document).ready(function() {
			vm.pageName = localStorage.getItem('pageName')
			vm.oldPageName = localStorage.getItem('oldPageName')
			console.log(vm.pageName == '研究动态')
		});
	</script>

</html>