morre * {
	padding: 0;
	margin: 0;
}

p {
	margin-bottom: 0;
}

body,
html {
	width: 100%;
}

.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

header {
	height: 19%;
	/*overflow: hidden;*/
}

.info_left {
	padding-right: 16px;
}

.wjs_nav .nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #5388BA;
}

.wjs_nav .nav>li.disabled>a {
	color: #777
}

.study_dong {
	list-style: none;
	padding-left: 0;
}

.study_dong li {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	border-bottom: 1px dashed #BDBDBD;
}

.study_dong li:first-of-type {
	padding-top: 20px;
}

.study_dong li>img {
	height: 220px;
	padding-left: 0;
}

.study_dong .yan {
	font-size: 14px;
}

.study_title {
	color: white;
	display: block;
	margin-top: 23px;
	height: 50px;
	line-height: 50px;
	background: #1E69A2;
	padding-left: 5px;
	font-size: 20px;
}

.study_title:hover {
	background: #5388BA;
}

.author_color {
	color: #1E69A2
}

.author_color:hover {
	color: #fcb52b;
}

.title_05:hover {
	color: #17548C;
}

.title_06 {
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
}

.title_06:hover {
	color: #17548C;
}

.title_07 {
	color: #666666;
}

.title_07:hover {
	color: #1dcefa;
}

..navigation_01 {
	/*height: 50px;*/
	line-height: 50px;
	font-size: 14px;
	color: #666666;
	/*letter-spacing: 1px;*/
}

.navigation_02 {
	color: #1E69A2;
}

.content_01 {
	letter-spacing: 1px;
}

.content_02 {
	margin-top: 10px;
}

.meet_color {
	color: #1dcefa;
}

.meeting-report {
	color: #1E69A2;
	text-decoration: none;
}

.meeting-report:hover {
	color: #fcb52b;
	text-decoration: none;
	cursor: pointer;
}

.study_dong .new_wen {
	height: 149px;
}

.study_dong .new_wen_01 {
	min-height: 220px;
	position: relative;
	padding-right: 0;
}

.new_wen_02 {
	height: 115px;
	position: relative;
}

.special_report {
	position: absolute;
	bottom: 0;
}

.more {
	text-align: right;
	margin-top: 16px;
	margin-bottom: 79px;
}

.more>a {
	display: inline-block;
	width: 100px;
	height: 34px;
	text-align: center;
	font-size: 12px;
	line-height: 34px;
	color: #1E69A2;
	border: 1px solid;
	border-radius: 7px;
}

.more>a:hover {
	display: inline-block;
	width: 100px;
	height: 34px;
	text-align: center;
	font-size: 12px;
	line-height: 34px;
	color: #FFFFFF;
	border-radius: 7px;
	background: #1E69A2;
	text-decoration: none;
}

.net_hot {
	margin-bottom: 25px;
}

.new_hui {
	padding-left: 0;
}

.new_hui li {
	box-sizing: content-box;
	padding-left: 0px;
	padding-right: 0;
	list-style: none;
	margin-top: 20px;
}

.new_hui li>img {
	width: 98%;
	/* padding-right: 0; */
}

.new_hui li .yan {
	right: 5px;
}

.new_xin {
	margin: 10px 0 10px 0;
}

footer {
	color: white;
}

footer p {
	margin: 0 0 3px;
}

.row {
	margin: 0;
}

.jianj {
	margin-top: 10px;
}

.top {
	height: 75px;
	margin-top: 40px;
}

.top div:nth-of-type(1) {
	height: 70px;
}

.top div:nth-of-type(2) {
	height: 71%;
}

.top div:nth-of-type(2)>input {
	height: 30px;
	border: 1px solid #80A2C0;
	border-radius: 10px 0 0 10px;
}

.top .lg_search {
	background: #1E69A2;
	height: 30px;
	line-height: 31px;
	text-align: center;
	border-radius: 0 13px 12px 0;
	/*float: right;*/
}

.top .lg_search:hover {
	cursor: pointer;
}

.top .lg_search>img {
	width: 70%;
	height: 70%;
	border-radius: 0 17px 16px 0;
}

.sb_ul {
	/*background: #1a6692;*/
}

.sb_ul li {
	width: 16.49%;
	background: #1E69A2;
	margin-left: 0.17%;
}

.sb_ul li a {
	color: white;
	width: 100%;
	line-height: 50px;
	padding: 0;
}

.sb_ul li ul {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	padding-left: 0px;
}

.sb_ul li ul li {
	/*border-top: 1px solid #fff;*/
	background: #bfcbd9;
	width: 100%;
	list-style: none;
}

.sb_ul li ul li:hover {
	background: #5388BA;
}

.sb_ul li ul li a {
	text-decoration: none;
	line-height: 50px;
}

.sb_ul li ul li a:hover {
	text-decoration: none;
	line-height: 50px;
}

.yan {
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #666666;
}

.new_dong {
	list-style: none;
	padding-left: 0;
}

.info_right {
	padding-left: 0px;
}

.new_dong li>img {
	padding-left: 0;
}


/*.new_dong li span:first-of-type{*/


/*font-size: 1.5vw;*/


/*font-weight: bold;*/


/*}*/

.new_dong li p {
	margin-bottom: 5px;
}

.do1 {
	padding-left: 28px;
	padding-right: 25px;
}

.container {
	padding-left: 30px;
}

.hot {
	display: inline-block;
	width: 31px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	border-radius: 5px;
	color: white;
	background: #FF5757;
	vertical-align: top;
	margin-right: 6px;
	font-weight: 100;
	text-align: center;
}

#dise {
	background: #f6f6f6;
}

.nav_01 {
	background: #FFFFFF;
	line-height: 36px;
	margin-top: 5px;
	box-shadow: 1px 2px 4px 0 rgba(165, 189, 235, 0.23);
}

.nav_01 span {
	padding-left: 20px;
}

.nav_01>img {
	width: 15px;
}

.menu_01 div {
	border-bottom: 1px solid #cccccc;
	padding-left: 20px;
}

.menu_01 {
	display: none;
}

.menu_02 {
	display: none;
}

#nav_main_div {
	width: 100%;
	height: 100%;
}


/* 搜索记录样式  */

.searchList {
	margin-left: 0;
	display: none;
	float: left;
	border: 1px solid #757579;
	width: 75%;
	z-index: 2;
	position: absolute;
	margin-top: 30px;
	background: #FFFFFF;
}

.searchList li {
	list-style: none;
	padding-left: 5px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	/*border-bottom: 1px solid #3385FF;*/
}

@media only screen and (max-width:768px) {
	.info {
		/*margin-top: -89px;*/
	}
}

@media only screen and (min-width:768px) {
	.new_dong li {
		font-size: 10px;
		margin-bottom: 10px;
	}
	.new_dong li>img {
		height: 115px;
	}
	.yan img {
		width: 13px;
	}
}

@media screen and (max-width:767px) {
	.new_dong li {
		font-size: 20px;
		height: 149px;
		position: relative;
		padding-top: 25px;
		margin-bottom: 0;
		box-sizing: content-box;
	}
	.new_dong li:first-of-type {
		padding-top: 0px;
	}
	.new_dong li>img {
		height: 149px;
	}
	.yan {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.yan img {
		width: 20px;
	}
	.new_dong li .new_wen {
		padding-left: 8px;
		height: 149px;
	}
	.do1 {
		padding-left: 16px;
		padding-right: 16px;
	}
	.study_dong li>img {
		height: 162px;
		padding-left: 0;
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.brand {
		font-size: 12px;
	}
	.jianj {
		font-size: 12px;
	}
	.new_right span:nth-of-type(2),
	.new_right span:nth-of-type(3),
	.new_right>p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	.new_wen span:nth-of-type(2),
	.new_wen span:nth-of-type(3),
	.new_wen>p {
		font-size: 14px;
	}
	.new_xin span:first-of-type {
		font-size: 20px;
	}
	.new_xin span:nth-of-type(2),
	.new_xin span:nth-of-type(3),
	.new_xin>p {
		font-size: 14px;
	}
}

@media screen and (min-width:992px) {
	.new_wen span:nth-of-type(2),
	.new_wen span:nth-of-type(3),
	.new_wen>p {
		font-size: 14px;
	}
	.new_right span:nth-of-type(2),
	.new_right span:nth-of-type(3),
	.new_right>p {
		font-size: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	.new_xin span:first-of-type {
		font-size: 20px;
	}
	.new_xin span:nth-of-type(2),
	.new_xin span:nth-of-type(3),
	.new_xin>p {
		font-size: 14px;
	}
}

@media only screen and (max-width:768px) {
	.jianj {
		margin-top: 20px;
		font-size: 10px;
	}
	.khao {
		font-size: 10px;
	}
	.brand {
		font-size: 10px;
	}
	.new_wen span:nth-of-type(2),
	.new_wen span:nth-of-type(3),
	.new_wen>p {
		font-size: 14px;
	}
	.new_xin span:first-of-type {
		font-size: 20px;
	}
	.new_xin span:nth-of-type(2),
	.new_xin span:nth-of-type(3),
	.new_xin>p {
		font-size: 14px;
	}
}

@media screen and (max-width:767px) {
	.info_right {
		padding-right: 3%;
		padding-left: 2%;
	}
	/*.new_xin a {
		position: absolute;
		bottom: 0;
	}*/
	.study_title {
		position: relative;
	}
	.study_title>img:first-of-type {
		display: block;
		position: absolute;
		right: 12px;
		top: 20px;
	}
	.study_title>img:nth-of-type(2) {
		display: none;
		position: absolute;
		right: 12px;
		top: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.eweim {
		width: 300px;
	}
}

@media screen and (min-width:767px) and (max-width:30000px) {
	.study_title img {
		display: none;
	}
}